.setup {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;

    [data-scramble="title"] {
        position: absolute;
        top: 30%;
        font-weight: 900;
        font-size: $fs-huge;
        margin: auto;
        width: 100%;
        text-align: center;
        overflow: hidden;

        .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;

            .letter {
                display: inline-block;
                line-height: 1em;
                font-weight: 100;
            }
        }
    }

    .player-cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-content: center;
        width: 80%;
        padding: 0 20px;
        margin: auto;
        bottom: -50%;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &.active {
            opacity: 1;
        }

        .player-card {
            position: relative;
            flex-direction: row;
            border-radius: $fs-l;
            border: 1px solid $color-chalk;
            overflow: hidden;
            opacity: 0.5;
            filter: blur(5px);
            transition: all 0.2s ease-in-out;

            .number {
                width: 100%;
                text-align: center;
                font-size: $fs-omg;
                overflow: hidden;
                line-height: 150px;
                display: block;
            }

            .name {
                position: relative;
                overflow: hidden;
                display: block;
                text-align: center;
                margin-bottom: $fs-xl;

                input {
                    font-size: $fs-xl;
                    line-height: $fs-huge;
                    border: none;
                    color: $color-foreground-dark;
                    background-color: $color-chalk;
                    width: 100%;
                    text-align: center;
                    font-weight: 900;
                }
            }

            &.filled {
                opacity: 1;
                filter: blur(0);
                border-color: $color-green-dark;
                background: rgb(2,0,36);
                background: linear-gradient(0deg, $color-green-dark 0%, $color-green 100%);
                transition: all 0.2s ease-in-out;
            }

            &.active {
                opacity: 1;
                transform: scale(1.1);
                filter: blur(0);
                transition: all 0.2s ease-in-out;
            }

        }
    }

}
